<div class="wrapper">
  <div class="container text-center">
    <h2>About Civic Reactor</h2>
    <div class="col-lg-12">
      <div class="nudge">
        <p>
        At <b>CIVIC REACTOR</b> we have noticed that more and more is expected for less and less.
        As a volunteer organisation we are committed to improving access and publicly of open data 
        resources to allow for wider utilisation and research from that data.
        </p>
        <p>
        Civic reactors can be young, old, beginners, experts, programmers, designers, data scientists, 
        communicators, civic organisers, entrepreneurs, employers, employees or looking for work. 
        Anyone willing to apply themselves to solving problems and who can collaborate on 
        co-creating solutions as a response to social, environmental and economic challenges relevant 
        to their city are welcome.
        </p>
        <p>
        Following the goals of the open data movement is similar to those of other "open" movements such 
        as open source, open hardware, open content and open access and making information available and 
        usable for all.
        </p>
      </div>
    </div>
    <div class="row">
      <h3>Meet the Team</h3>
      <div *ngFor="let member of team" class="col-xs-12 col-sm-4">
        <div class="card text-center">
         <img src="{{member.img || defaultPicture}}" alt="" class="avatar-bordered"/>
          <h4 class="card-title">{{member.name}}</h4>
          <h5 class="card-text">{{member.role}}</h5>
          <p>{{member.description}}</p>
        </div>
      </div>

    <div class="col-lg-12">
      <div class="nudge">
        <p>
        If you feel like you would like to get involved - either with questions or suggestions for 
        improvement or by getting more involved with this project or suggest another,
        please join the group on <a href="https://skillsmatter.com/groups/10587-civic-reactor" 
        alt="Civic Reactor" target="_new">Skills Matter</a> or pop along to one of our meetups.
        </p>
        <p>
        <b>Thank you from the Civic Reactor Team.</b>
        </p>
      </div>
    </div>

  </div>
</div>


