<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6">

            <img class="logo" src="assets/imgs/ukcarehomes-logo.jpg">

            <!--<map-input [mymap]="mymap"></map-input>-->
            <p>
                Here is a map of the care homes in the United Kingdom as compliled by the <a href="http://www.cqc.org.uk"> Care Quality Commission</a> the body empowered to monitor, inspect and regulate health and social care services.
                They publish what they find, including ratings to help people choose care.
                Using a rating for each care home.

                We are trying to create a portal of sharing this information in a more user friendly way.
                by allowing you to search my place, town or postcode and showing the care homes in that area.
            </p><map-input [mymap]="mymap"></map-input><p>
            Following the CQC rating system, we colour the pins. Displaying the contact details of the home and rating of its last report.
            Then for further information click on 'More details here' to be directed to the cqc information of that home.
            <br>
            P.S. Click on a pin to see details on that care home and for further information click on 'More details here'.
            </p>
            <div class="legend">
                <h4>Legend</h4>
                <i class="fa fa-star-o green"></i> Outstanding<br>
                <i class="fa fa-circle green"></i> Good<br>
                <i class="fa fa-circle orange"></i> Requires Improvement<br>
                <i class="fa fa-circle grey"></i> No rating / under appeal / rating suspended<br>
            </div>

        </div>

        <div class="col-xs-12 col-md-6">
            <map (onMap)="onMap($event)"></map>
        </div>
    </div>
</div>